<!--The content below is only a placeholder and can be replaced.-->

<div class="control">
    <div routerLink="" class="mini-logo">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 100 88" style="enable-background:new 0 0 100 88;" xml:space="preserve">
       <style type="text/css">
           .st0{fill:none;}
       </style>
       <polygon class="st0" points="28.3,-32.5 24,-28 28,-28 "/>
       <g>
           <path d="M25.6,76.5V46.3h47.9v7.2l7.6-3.8V11.6c0.1-4.1,3.4-7.4,7.5-7.4h1.5l0-1.2H64.5l0,1.2H66c4,0,7.3,3.2,7.5,7.2v31.3H25.6
               V11.5c0.1-4,3.4-7.3,7.5-7.3h1.5l0-1.2H9l0,1.2h1.5c4.1,0,7.4,3.3,7.5,7.3v64.9c-0.1,4.1-3.4,7.4-7.5,7.4H9L9,85h1.5l15.2-7.6
               C25.7,77.1,25.6,76.8,25.6,76.5z"/>
       </g>
       </svg>
    </div>
    <div class="hamburger"> 
        <div (click)="menuTrigger()" [class.open]="menuActive" class="hamburger-menu">
            <div class="hambar half start"></div>
            <div class="hambar"></div>
            <div class="hambar half end"></div>
        </div>
    </div>
</div>


<div [class.is-active]="menuActive" class="menu-fold">

    <div class="menu">
        <nav>
            <a (click)="menuTrigger()" class="menu-item" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link" routerLink="">Home</a>
            <a (click)="menuTrigger()" class="menu-item" routerLinkActive="active-link" routerLink="/work">Work</a>
            <a (click)="menuTrigger()" class="menu-item" routerLinkActive="active-link" routerLink="/about">About</a>
        </nav>
    </div>
</div>

<div class="main" [@animRoutes]="getPage(appOutlet)">
    <router-outlet #appOutlet="outlet"></router-outlet>
  </div>